on: [push,pull_request]

jobs:
  build_test_job:
    name: 'Build and test job'
    runs-on: windows-latest
    steps:

    - name: 'Checking out repo code'
      uses: actions/checkout@v2

    - name: 'Validate build'
      run: |
        npm install
        npm run build
        
    - name : 'Run test coverage'
      env:
        PR_NUMBER: ${{ github.event.pull_request.number }}
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      run: |
        $comment = "fdgsdfgsfdg\ngsdfgsdfg"
        echo  "$GITHUB_REPOSITORY"
        echo "$PR_NUMBER"
        $url = "https://api.github.com/repos/${GITHUB_REPOSITORY}/issues/$PR_NUMBER/comments"
        echo $url
        $headers = @{
          "Authorization" = "token ${GITHUB_TOKEN}"
        }
        $headers
        Invoke-RestMethod -Method POST -Uri $url -Headers $headers -Body "{ `"body`": `"${comment}`" }"
